//Imports
@import './partials/variables';
@import './partials/mixins';
@import './partials/text';
@import './partials/navigation';
@import './partials/buttons';
@import './partials/forms';
//General Style
html,
body,
.body-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: $bg;
    font-size: 100%;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $font;
    letter-spacing: 0.05rem;
}
.body-wrapper {
    position: relative;
    background-image: url(../../src/assets/Bg.png);
    background-size: cover;
    background-position: center center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

//Remove of Styles
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border: none;
    color: $font;

}

input {
    outline: none;
}
