@import './partials/variables';
@import './partials/mixins';
.modal-space {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0);
    transition: all 0.25s;
    &.selected {
        z-index: 2000;
        background-color: rgba($black, 0.8);
        & > .modal-1 {
            top: 50%;
            @include transform(translate(-50%, -50%));
            opacity: 1;
        }
    }
}

.modal-1 {
    position: absolute;
    top: 40%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    max-width: 60%;
    max-height: 90%;
    padding: 1.5rem;
    background-color: $bg;
    transition: all 0.25s;
    opacity: 0;
    & > .bold {
        @include font-size(1.5rem);
        margin: 0 10rem 2rem 0;
    }
}