<div class="modal-space"></div>
<div class="body-wrapper">
  <div class="map">
    <ng-container *ngFor="let item of items | async; let i = index">
      <div class="map-light" [class.-red]="getLightState(i)"></div>
      <div *ngIf="i === 2 || i > 8"></div>
    </ng-container>

  </div>
  <div #panelContainer class="panel">
    <div class="panel-head" [class.-extended]="lightToggle">
      <img src="../assets/Arrow.svg" (click)="toggleLight()" alt="" />
      <div class="txt bold">ASIARAN</div>
    </div>
    <div class="panel-body">
      <div class="gradient"></div>
      <div class="p-b-step -in" [class.-in]="!lightToggle" [class.-out]="lightToggle">
        <div class="txt bold -half">ESTADO</div>
        <div class="table-1">
          <div class="t-1-row -disabled">
            <div class="t-1-header txt">Semáforos en Rojo</div>
            <div class="t-1-value txt">{{redLights}}</div>
          </div>
          <div class="t-1-row -disabled">
            <div class="t-1-header txt">Semáforos en Verde</div>
            <div class="t-1-value txt">{{greenLights}}</div>
          </div>
          <div class="t-1-row -disabled">
            <div class="t-1-header txt">Densidad de Tráfico</div>
            <div class="t-1-value txt">{{level}}%</div>
          </div>
        </div>
        <div class="txt bold -half">SEMÁFOROS</div>
        <div class="table-1">
          <div class="t-1-row" (click)="toggleLight(); setCurrentItem(item.id)" *ngFor="let item of items | async">
            <div class="t-1-header txt">{{item.location}}</div>
            <div class="t-1-value"><span class="light" [class.-red]="item.state == 0"></span></div>
          </div>
        </div>
      </div>
      <div *ngIf="currentItem" class="p-b-step -abs" [class.-in]="lightToggle" [class.-out]="!lightToggle">
        <div class="state-bar -graph">
          <div class="txt bold -half">{{currentItem.location}}</div>
          <span class="light" [class.-red]="currentItem.state == 0"></span>
        </div>
        <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="true"
        [xAxis]="true">
      </ngx-charts-line-chart><br>
        <div class="txt bold -half" [style.marginTop.px]="graphAbove">ESTÁDISTICA</div>
        <div class="table-1">
          <div class="t-1-row -disabled">
            <div class="t-1-header txt">Promedio de densidad de Tráfico</div>
            <div class="t-1-value">{{currentItem.levelAVG}}</div>
          </div>
          <div class="t-1-row -disabled">
            <div class="t-1-header txt">Promedio de tiempo en verde</div>
            <div class="t-1-value">{{currentItem.timeGreenAVG}} seg</div>
          </div>
          <div class="t-1-row -disabled">
            <div class="t-1-header txt">Promedio de tiempo en rojo</div>
            <div class="t-1-value">{{currentItem.timeRedAVG}} seg</div>
          </div>
        </div>
        <button class="btn-1 margin-center" (click)="changeState(currentItem.id, currentItem.state)" >Cambiar Estado</button>
      </div>
    </div>
  </div>
</div>
